streamlit>=1.45.0
pandas
plotly
numpy
groq
python-dotenv
requests
pillow
bcrypt
scikit-learn
xgboost
lightgbm
joblib
scipy
streamlit-lottie
gtts==2.5.1
protobuf>=4.25.3,<5
mediapipe==0.10.14
opencv-python-headless==4.8.1.78
streamlit-webrtc>=0.47.0
av>=10.0.0

